
    
{% include 'header.html'%}



<main>

  <div class="row w-50 mx-auto">
    <div class=" col  w-50 ">
        <a href="#exampleModal" class="btn btn-primary w-50 " data-bs-toggle="modal">Ajouter</a>
    </div>

   <div class="col">
     <a href="/addArticle" class="btn btn-primary w-50 " >Ajouter un article</a>
   </div>

  </div>
    

<table class="table table-bordered w-50 mx-auto mt-5">
    
    <tr>
        <td>ID</td>
        <td>Nom</td>
        <td>Email</td>
         <td>password</td>
          <td>carte</td>
         <td>Action</td>
    </tr>
    {% for user in users %}
        <tr>
            <td>{{user['id']}}</td>
            <td>{{user['nom']}}</td>
            <td>{{user['email']}}</td>
            <td>{{user['password']}}</td>

             {%if user.carteIdentite.NumeroID %}
               <td><a href="" class="btn btn-success"> Acces</a></td> 
                {% else %}
                <td><a href="#exampleModal1" class="btn btn-primary  " data-bs-toggle="modal" data-user-id="{{user['id']}}">creer une carte</a></td>
                {%endif%}
            
           
            <td>
              <a class="btn btn-success" href="/modifier/{{user['id']}}">Modifier</a>
                <!-- <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal1{{ user.id }}">  Supprimer</button> -->
                <a href="/delete/{{user['id']}}" class="btn btn-danger">Supprimer</a>
               
            </td>
        </tr>
    {%endfor%}
</table>


    








<!-- Modal user -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ajouter un User</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/registre" class=" w-100">
        
        <div class="my-3">
            <input type="text" name="nom" id="" class="form-control" placeholder="Enter your name">
        </div>
        <div class="my-3">
            <input type="email" name="email" id="" class="form-control" placeholder="Exemple@gmail.com">
        </div>
       <div class="my-3">
         <input type="password" name="password" id="" class="form-control" placeholder="enter your password">
       </div>
        <div class="my-3">
         <input type="password" name="password2" id="" class="form-control" placeholder="re-enter your password">
       </div>


   
      </div>
      <div class="modal-footer">
        
       
        <input type="submit" value="s'incrire" class="btn btn-primary">
        <input type="reset" value="Effacer" class="btn btn-danger">
       
     
      </div>
    </form>
    </div>
  </div>
</div>













<!-- Modal carte Identité -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ajouter une carte d'Identité</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="/carte" class=" w-100">
        
        <div class="my-3">
            <input type="text" name="Numero" id="" class="form-control" placeholder="creer un numero">
        </div>
      
       <div class="my-3">
         <input type="number"  name="idUser" id="modal-user-id" class="form-control" placeholder="enter your Id user">
       </div>
        

   
      </div>
      <div class="modal-footer">
        
       
        <input type="submit" value="Creer" class="btn btn-primary">
        <input type="reset" value="Effacer" class="btn btn-danger">
       
     
      </div>
    </form>
    </div>
  </div>
</div>

</main>


{% include 'footer.html'%}